
<div class="flex-1 mx-auto flex-col max-w-6xl ">
    <div class="bg-white rounded-lg shadow-2xl">
        <ul class="divide-y-2 divide-gray-400 ">
        {{#each hotels}}
        <li class="p-6 space-y-2">
            <div class="flex flex-col items-center justify-center ">
                <div class="font-h3 flex flex-row flex-grow text-black ">
                    <p>{{nombre}}</p>
                    <div class="pl-1 mt-1 flex flex-row">
                        {{#times estrellas}}
                        <svg class="text-yellow-500 h-5 w-5" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                        </svg>
                        {{/times}}
                    </div>
                </div>
                <div class="flex flex-row mt-1">
                    
                    <div class="font-h6 text-gray-600">Dirección: {{direccion}}</div> 
                    <div class="font-h6 text-gray-600 pl-3">Provincia: {{provincia}}</div>
                    <div class="font-h6 text-gray-600 pl-3">Telefono: {{telefono}}</div>
                </div>
                <div class="flex flex-grow flex-row items-center justify-center mt-3">
                    <button class="modificar-hotel bg-primary hover:bg-primary-darker text-white font-h6 py-2  px-2 rounded shadow-lg hover:shadow-xl transition duration-200 w-auto" 
                    type="submit" hotel-id="{{hotelId}}">Modificar hotel</button>
                </div>
            </div>
        </li>
        {{/each}}
        </ul>
    </div>
</div>

<div class="text-primary-dark flex flex-row items-center justify-center mr-auto ml-auto mt-8">
    <div>
        {{#each navPages}}
        <a page-link-admin="{{page}}"
            class="nav-hotels-list-admin font-h4 hover:bg-indigo-600 hover:text-gray-100 transform-all duration-100 mr-1 ml-1 pr-3 pl-4 py-3 rounded page-item text-center items-center"
            href="{{url}}">
            {{text}}
        </a>
        {{/each}}
    </div>
</div>