<div class="bg-gray-100 ">
    <div class="md:container mx-auto space-y-6">
        <h1 class="font-h1 text-black ml-6">Hoteles</h1>

        <!-- reservas -->
        <div class="space-y-1">
            <!-- titulos columnas -->
            <div class="ml-1 px-5 grid grid-cols-8">
                <div class="col-span-3 my-auto">
                    <h6 class="font-h6">Detalles del hotel</h6>
                </div>

                <div class="col-span-1 my-auto text-center">
                    <h6 class="font-h6">Ciudad</h6>
                </div>
                <div class="col-span-1 text-center">
                    <h6 class="font-h6">Provincia</h6>
                </div>
                <div class="col-span-1 my-auto text-center">
                    <h6 class="font-h6">Telefono</h6>
                </div>
                <div class="col-span-2 my-auto text-center">
                    <h6 class="font-h6">Acciones</h6>
                </div>
            </div>

            {{#each hotels}}
            <div class="bg-white rounded border border-gray-300 hover:shadow transition-all duration-300">
                <div class="p-5 border-l-4 border-indigo-700 rounded-l">
                    <div class="grid grid-cols-8">
                        <div class="col-span-3 my-auto">
                            <a href="/hotel/{{hotelId}}" data-link class="font-h4 link-primary">{{nombre}}</a>
                            <p class="font-subtitle">{{direccion}}</p>
                        </div>

                        <div class="col-span-1 my-auto text-center">
                            <p class="font-subtitle text-gray-800">{{ciudad}}</p>
                        </div>
                        <div class="col-span-1 my-auto text-center">
                            <p class="font-subtitle">{{provincia}} </p>
                        </div>
                        <div class="col-span-1 my-auto text-center">
                            <p class="font-subtitle text-gray-800">{{telefono}}</p>
                        </div>
                        <div class="col-span-1 flex justify-end mr-1">
                            <button hotel-id="{{hotelId}}" type="submit"
                                class="modificar-hotel w-full font-h6 bg-indigo-600 hover:bg-indigo-700 transition-all duration-300 text-white px-3 py-2 focus:outline-none rounded disabled:opacity-70">
                                Modificar hotel
                            </button>
                        </div>
                        <div class="col-span-1 flex justify-end ml-1">
                            <button hotel-id="{{hotelId}}" type="submit"
                                class="reservas-hotel w-full font-h6 bg-indigo-700 hover:bg-indigo-800 transition-all duration-300 text-white px-3 py-2 focus:outline-none rounded disabled:opacity-70">
                                Ver reservas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="text-primary-dark flex flex-row items-center justify-center mr-auto ml-auto mt-8">
    <div>
        {{#each navPages}}
        <a page-link-admin="{{page}}"
            class="nav-hotels-list-admin font-h4 hover:bg-indigo-600 hover:text-gray-100 transform-all duration-100 mr-1 ml-1 pr-3 pl-4 py-3 rounded page-item text-center items-center"
            href="{{url}}">
            {{text}}
        </a>
        {{/each}}
    </div>
</div>