<div class="bg-gray-100 py-20 min-h-90vh">
    <div class="md:container mx-auto space-y-6">
        <h1 class="font-h1 text-black ml-5">Reservas del hotel {{reservas.0.hotel}}</h1>

        <!-- reservas -->
        <div class="space-y-1">
            <!-- titulos columnas -->
            <div class="ml-1 px-5 grid grid-cols-9">
                <div class="col-span-3 my-auto">
                    <h6 class="font-h6">Detalles del usuario</h6>
                </div>
                <div class="col-span-1 my-auto text-center">
                    <h6 class="font-h6">Habitación</h6>
                    <h6 class="font-h6">(Tipo)</h6>
                </div>
                <div class="col-span-2 text-center">
                    <h6 class="font-h6">Fecha de entrada</h6>
                    <h6 class="font-h6">Fecha de salida</h6>
                </div>
                <div class="col-span-2 my-auto text-center">
                    <h6 class="font-h6">Estado de la reserva</h6>
                </div>
                <div class="col-span-1 my-auto text-center">
                    <h6 class="font-h6">Acciones</h6>
                </div>
            </div>

            {{#each reservas}}
            <div class="bg-white rounded border border-gray-300 hover:shadow transition-all duration-300">
                <div class="p-5 border-l-4 border-indigo-700 rounded-l">
                    <div class="grid grid-cols-9">
                        <div class="col-span-3 my-auto">
                            <p class="font-h4 text-gray-800">{{nombre}} {{apellido}}</p>
                            <p class="font-subtitle">{{nombreUsuario}}</p>
                        </div>
                        <div class="col-span-1 my-auto text-center">
                            <p class="font-h4 text-gray-800">{{habitacionNombre}}</p>
                            <p class="font-h4 text-gray-800">({{habitacionTipo}})</p>
                        </div>
                        <div class="col-span-2 my-auto text-center">
                            <p class="font-subtitle">{{dateConverter fechaInicio}} al</p>
                            <p class="font-subtitle">{{dateConverter fechaFin}}</p>
                        </div>
                        <div class="col-span-2 my-auto text-center">
                            <p class="font-h4 text-gray-800">{{estadoReserva}}</p>
                        </div>
                        <div class="col-span-1 flex justify-end">
                            <button reserva-id="{{reservaId}}"
                                class="btn-baja w-full font-h6 bg-red-500 hover:bg-red-600 transition-all duration-300 text-white px-3 py-2 focus:outline-none rounded disabled:opacity-70"
                                {{#if reservaActiva}} {{else}} disabled {{/if}}>
                                Dar de baja
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>