<div class="flex flex-row mb-2">
    {{#if city}}
    <h2 class="font-h2 text-primary-darker flex-grow ">Mostrando resultados para {{city}}</h2>
    {{else}}
    <h2 class="font-h2 text-primary-darker flex-grow ">Mostrando los resultados de la búsqueda</h2>
    {{/if}}
    <h4 class="font-h6 text-primary-darker flex-none mb-0 mt-auto">Página {{currentPage}} de {{pageCount}}</h4>
</div>

<div class="grid gap-2 grid-cols-1 xl:grid-cols-2">
    {{#each hotels}}
    <div class="card-hotel-item bg-white rounded overflow-hidden border border-gray-300 cursor-pointer hover:shadow-lg transform-all duration-300 flex flex-row"
        hotel-id="{{hotelId}}">
        <div class="h-48 w-36 flex-none">
            <img src="{{foto}}" alt="" class="h-full w-full object-cover">
        </div>
        <div class="py-1 px-4 flex-grow flex flex-col relative">
            <h4 class="font-h2 truncate">{{nombre}}</h4>
            <div>
                <!--svg class="my-auto mr-1 text-yellow-600" style="width:17px;height:17px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M6,3A1,1 0 0,1 7,4V4.88C8.06,4.44 9.5,4 11,4C14,4 14,6 16,6C19,6 20,4 20,4V12C20,12 19,14 16,14C13,14 13,12 11,12C8,12 7,14 7,14V21H5V4A1,1 0 0,1 6,3Z" />
                </svg-->
                <p class="font-h6 text-gray-600">{{direccion}} {{direccionNum}}, {{ciudad}}, {{provincia}}</p>
            </div>

            <div class="mt-2 flex flex-row flex-grow">
                {{#times estrellas}}
                <svg class="text-yellow-500 h-4 w-4" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                </svg>
                {{/times}}
            </div>
            <div class="mt-2">
                <div class="mt-1 flex flex-row">
                    <svg class="my-auto mr-2 text-grey-600 h-4 w-4 text-blue-800" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                    </svg>
                    <p class="font-h6 text-gray-600">{{telefono}}</p>
                </div>
                <div class="mt-1 flex flex-row">

                </div>
            </div>
            <div class="absolute bottom-0 right-0">
                <button
                    class="bg-primary hover:bg-indigo-800 hover:shadow-md transition-all duration-300 px-8 py-2 rounded-tl-md">
                    <p class="font-h6 text-white">Ver detalle</p>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="text-primary-dark flex items-center mr-auto ml-auto mt-8">
    <div>
        {{#each navPages}}
        <a page-link="{{page}}"
            class="nav-hotels-list font-h4 hover:bg-indigo-600 hover:text-gray-100 transform-all duration-100 mr-1 ml-1 pr-3 pl-4 py-3 rounded page-item text-center items-center"
            href="{{url}}">
            {{text}}
        </a>
        {{/each}}
    </div>
</div>